<!DOCTYPE HTML>
<html>
    <head>
        <title>Meal Planner</title>
        <script type="text/javascript" src="/js/customFunctions.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    </head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Meal Planner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/" th:href="@{/}">All Recipes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/newRecipe" th:href="@{/newRecipe}">New Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/schedule" th:href="@{/schedule}">Schedule</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>New Recipe</h1>
        <form id="new-recipe">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName">
            </div>
            <div class="form-group">
                <label for="inputInstructions">Instructions</label>
                <input type="text" class="form-control" id="inputInstructions">
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-6">
                        <label for="inputIngredient">Ingredient</label>
                        <input type="text" class="form-control" id="inputIngredient">
                    </div>
                    <div class="col">
                        <label for="inputQty">Qty</label>
                        <input type="text" class="form-control" id="inputQty">
                    </div>
                    <div class="col">
                        <label for="inputUnit">Unit</label>
                        <input type="text" class="form-control" id="inputUnit">
                    </div>
                </div>
            </div>
            <button type="submit" action="submitRecipe()" class="btn btn-primary">Submit</button>
        </form>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>